.Home .main-contents {
  padding: 20px;
}

.Home .main-visual {
  width: 100%;
  height: 400px;
  background-image: url("assets/ilya-pavlov-87438.png");
  background-size: cover;
}
.Home h1.main-message {
  color: #fff;
  padding-top: 180px;
}

.container {
  height: 100%;
}

.Home h1.title {
  padding: 0.25em 0.5em;
  /*上下 左右の余白*/
  color: #494949;
  /*文字色*/
  background: transparent;
  /*背景透明に*/
  border-left: solid 5px #7db4e6;
  /*左線*/
  text-align: left;
}
.Home .main-visual-left {
  width: 40%;
  background-color: rgba(0, 0, 0, 0.5);
  height: 400px;
}
